<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Главная</title>
</head>

<body>
  <ul>
    {{#if parentUrl}}
    <li><a href="{{parentUrl}}">../</a></li>
    {{/if}}
    {{#each directories}}
    <li><a href="{{this.url}}">{{this.file}}/</a></li>
    {{/each}}
    {{#each files}}
    <li><a href="{{this.url}}">{{this.file}}</a></li>
    {{/each}}
  </ul>
</body>

</html>